/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * My CVStuff
 ******************************************************************************/
// span.resum {
// 	background-color: lighten($divider-color, 20%);
// }

// span.headtext {
// 	font-weight: bold;
// 	font-size: 1.20rem;
// 	 color: $green-color-dark;
// }

// p.desctext {
// 	color: $strong-color;
// }

// .cardstack .item a:before,
// .cardstack .item-label {
//     line-height: 40px !important;
//     top: 0;
//     text-align: center;
// }
// .cardstack .item .card-header {
//     background-color: transparent;
// }
// .cardstack,
// .cardstack .item {
//     position: relative;
// }
// .cardstack .item:before {
//     border-left: 3px dashed;
//     border-color: var(--global-divider-color);
//     content: "";
//     display: none;
//     height: 100%;
//     left: 218px;
//     opacity: 0.6;
//     position: absolute;
//     top: 0;
//     width: 1px;
// }
// .cardstack .item:last-child:before {
//     display: none;
// }
// .cardstack .item-label {
//     display: block;
//     font-weight: 600;
//     font-size: 1.10rem;
//     height: 40px;
//     left: 50%;
//     margin-left: -50px;
//     margin-top: -20px;
//     position: absolute;
//     width: 190px;
//     z-index: 10;
// }
// .cardstack .item a {
// 	position: absolute;
// 	  height: 40px;
// 	  width: 40px;
// 	  left: 200px;
// 	  text-align: center;
// 	  line-height: 40px;
// 	  border-radius: 50%;
// 	  font-size: 0.875rem;
// 	  box-shadow: 0 0 0 4px #fff, 3px 3px 3px rgba(0,0,0,0.25), 0 3px 0 4px rgba(0,0,0,0.25);
// }
// .cardstack .item a:before {
//     color: #fff;
//     font-family: "Font Awesome 5 Free";
//     font-size: 0.875rem;
//     height: 100%;
//     border-radius: 50%;
//     left: 0;
//     position: absolute;
//     width: 100%;
// }
// .cardstack .item .card {
//     width: 100%;
//     border: 4px;
//     border-color: $divider-color;	
// }

// @media (min-width: 768px) {
//     .cardstack .item a,
//     .cardstack .item:before {
//         display: block;
//     }
//     .cardstack .item .card-header {
// 	    background-color: transparent;
//      }
//     .cardstack .item-label {
//         left: 0;
//         margin-left: 0;
//         margin-top: 0;
//     }
//     .cardstack .item .card {
//         margin-left: 270px;
//         width: calc(100% - 210px);
//     }
// }

// @media(max-width: 740px){
// 	.cardstack .item a,
// 	.cardstack .item:before {
// 		display:none;
// 	}
//     .cardstack .item .card-header {
// 	    background-color: transparent;
// 	    margin-top: 10px;
//      }
//     .cardstack .item-label {
//         left: 0;
//         margin-left: 0;
//         margin-top: 10px;
// 	background-color: transparent;
//     }
	
// }

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
