---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

/*a {
  i::before {
    color: var(--global-text-color);
    transition-property: all 0.2s ease-in-out;
  }
  &:hover {
    i::before {
      color: var(--global-theme-color);
    }
  }
*/

.gs-icon { 
	background: #5086ec; 
	background-clip: text; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
}
.gs-icon:hover { 
	background: var(--global-theme-color);
	background-clip: text; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	text-decoration: none; 
}

.li-icon {
	background: #0e76a8;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.li-icon:hover {
	background: var(--global-theme-color);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none; 
}
.orcid-icon {
	background: #AECD54;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.orcid-icon:hover {
	background: var(--global-theme-color);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none; 
}

