---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
						{%- if page.title == "Resume" -%}
								<h1 id="reshd" class="post-title d-flex justify-content-between">
									<div>Resume</div>
									<div><a target="_blank" href="../assets/pdf/webcv.pdf"><i class="far fa-file-pdf"></i></a></div>
								</h1>
						 {%- else -%}
            		<h1 class="post-title">{{ page.title }}</h1>
						{%- endif -%}
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>

<!-- -->